@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ======== stream css overrides ======== */
.str-video__call-stats {
  max-width: 500px;
  position: relative;
}

.str-video__speaker-layout__wrapper {
  max-height: 700px;
}

.str-video__participant-details {
  color: white;
}

.str-video__menu-container {
  color: white;
}

.str-video__notification {
  color: white;
}

.str-video__participant-list {
  background-color: #1c1f2e;
  padding: 10px;
  border-radius: 10px;
  color: white;
  height: 100%;
}

.str-video__call-controls__button {
  height: 40px;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.glassmorphism2 {
  background: rgba(18, 17, 17, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

/* ==== clerk class override ===== */

.cl-userButtonPopoverActionButtonIcon {
  color: white;
}

.cl-logoBox {
  height: 40px;
}

.cl-dividerLine {
  background: #252a41;
  height: 2px;
}

.cl-internal-wkkub3 {
  color: white;
}

.cl-userButtonPopoverActionButton {
  color: white;
}

/* animation */

.show-block {
  width: 100%;
  max-width: 350px;
  display: block;
  animation: show 0.7s forwards linear;
}

@keyframes show {
  0% {
    animation-timing-function: ease-in;
    width: 0%;
  }

  100% {
    animation-timing-function: ease-in;
    width: 100%;
  }
}

.cl-providerIcon__github {
  filter: invert(1)
}

.cl-headerTitle {
  text-align: center;
}

.cl-headerSubtitle {
  text-align: center;
}

.cl-internal-b868gt {
  background-color: #252A41;
}

.cl-footer {
  justify-content: center;
}

.cl-internal-sr03kg {
  display: none;
}

.cl-internal-vqjo9j {
  justify-content: center;
}

.cl-internal-1v4f1h0 {
  justify-items: center;
  display: flex;
  gap: 0.25rem;
}

.cl-internal-1v4f1h0::after {
  content: "VibeShare";
  font-size: 26px;
  font-weight: 800;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  display: flex;
  height: 100%;
  align-items: center;
  line-height: 0;
}

.cl-internal-1v4f1h0:hover {
  text-decoration: none;
}